@use "../../styles/helpers/functions.scss";
@use "../../styles/helpers/mixins.scss";

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  padding: functions.fluid(14, 18) functions.fluid(20, 24);

  font-weight: 600;

  color: var(--color-white);
  background-color: var(--color-red-45);

  border: none;
  border-radius: 10px;

  user-select: none;

  &:active {
    scale: 1.01;
  }

  &:disabled {
    pointer-events: none;

    color: var(--color-gray-60);
    background-color: var(--color-black-06);
  }

  @include mixins.hover {
    color: var(--color-white);
    background-color: var(--color-red-60);
  }
}
