@mixin hover($enable-active-on-mobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if $enable-active-on-mobile {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}

@mixin equal-size($size) {
  width: $size;
  height: $size;
}
